* {
    margin: 0;
    background-color: black;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}
.calculadora {
    width: 300px;
    padding: 50px 15px;
    border-radius: 10px;
    border: solid white 1px;
    box-shadow: 10px 10px white;
}
#input {
    width: 100%;
    height: 60px;
    border-radius: 5px;
    margin: 5px 5px 20px 5px;
    border: white solid 2px;
    box-shadow: 5px 5px white;
    -webkit-box-shadow: 5px 5px white;
    color: white;
    padding: 10px;
    font-size: 60px;
}
button {
    width: 64px;
    height: 64px;
    border-radius: 50%;
}
.partes {
    display: flex;
}
#parte-1 button {
    background-color: #a5a5a5;
    color: black;
    font-size: 26px;
}
#parte-1 button:last-child {
    color: white;
    background-color: #ff9f0a;
}
#parte-2 button:last-child {
    background-color: #ff9f0a;
    font-size: 26px;
}

#parte-3 button:last-child {
    background-color: #ff9f0a;
}

#parte-4 button:last-child {
    background-color: #ff9f0a;
}

#parte-5 button:last-child {
    background-color: #ff9f0a;
    flex-grow: 1;
    border-radius: 50px;
}
.partes button {
    color: white;
    background-color: #333333;
    margin: 5px;
    border: none;
    font-size: 32px;
    font-family:sans-serif ;
    font-weight: 500;
    text-align: center;
}